# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TS 빌드 아웃풋
*.tsbuildinfo

# 환경 변수
.env
.env.*.local

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.AppleDouble
.LSOverride

# vscode 자동 생성 백업
.history
